// Typography colors

$color-primary: #777;
$color-secondary: #51ddfc;
$color-headline-form: #58e1c1;

// Button and Grid background colors

$btn-color-info: #927bc1;
$btn-color-wrn: #fd7856;
$btn-color-err: #e4757a;
$btn-color-suc: #63cc82;

// Media queries breakpoint

$break-m: 768px;