.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-secondary;
  }
  
  .error {
    background-color: $btn-color-err;
  }
  
  .info {
    background-color: $btn-color-info;
  }
  
  .success {
    background-color: $btn-color-suc;
  }
  
  .warning {
    background-color: $btn-color-wrn;
  }